.about_us-main {
    position: relative;
  }
  .bgc-ww_block-about_us {
    background-color: #E91E63;
    padding: 30px 0;
  }
  .ww_block-about_us {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .img_box-about_us {
    display: inline-flex;
    width: 33%;
  }
  .img_box-about_us > img {
    width: 100%;
    height: 30%;
    border-radius: 6px;
  }
  .text_block {
    color: #fff;
    font-family: "Alegreya Sans";
    width: 33%;
    line-height: 1.5;
  }
  .text_block div:first-child {
    font-size: 36pt;
  }
  .bgc-og_block-about_us {
    padding: 30px 0;
  }
  .og_block-about_us {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  @media screen and (max-device-width: 1280px){
    .og_block-about_us{
      width: 100%;
      flex-direction: column;
    }
    .ww_block-about_us{
      width: 100%;
      flex-direction: column;
    }
    .img_box-about_us{
      width: 90%;
    }
    .text_block{
      width: 80%;
      font-size: 24pt;
    }
    .text_block div:first-child {
      font-size: 64pt;  
    }
    .bg_container video {
      display: none;
    }
    .bg_container .logo_container{
      margin-top: 10%;
      margin-bottom: 10%;
      position: static !important;
    }
    .logo_container img{
      width: 60% !important;
    }

  }
  .og_block-about_us > .text_block {
    color: #455a64b5;
  }
  .bg_container .video {
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  .bg_container .video:hover .logo_container {
    top:20%;
  }
  .bg_container .video:hover video {
    filter: blur(10px);
  }
  .bg_container video {
    margin-top: -20px;
    z-index: -40;
    width: 100%;
    filter: blur(0px);
    transition: 0.5s;
  }
  .bg_container .logo_container {
    position: absolute;
    display: flex;
    top: 100%;
    transition: 0.5s;
    text-align: center;
  } 
  .logo_container img{
    width: 30%;
  }
  .logo_container{
   display: inline;
  }
  