.container-header{
    display: block;
    width: 100%;
    position: absolute;
    z-index: 1;

}
.menu_box-header{
    display: flex;
    justify-content: space-around;
}
.container-header .menu_box-header ul {
    list-style: none;
    display: flex;
    padding: 0;
    color: #fff;
}
.container-header .menu_box-header ul li {
    padding: 25px 30px;
    background-color: #455a64b5;
    font-size: 24pt;
    font-family: "Alegreya Sans";
    text-transform: uppercase;
}
.container-header .menu_box-header ul li:first-child {
    border-bottom-left-radius: 30%;
  }
.container-header .menu_box-header ul li:last-child {
    border-bottom-right-radius: 30%;
  }
.container-header .menu_box-header ul li:hover {
    cursor: pointer;
    background-color: #ECEFF1;
    color: #000;
  }