.about_us-main {
  position: relative;
}
.bgc-ww_block-about_us {
  background-color: #E91E63;
  padding: 30px 0;
}
.ww_block-about_us {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.img_box-about_us {
  display: inline-flex;
  width: 33%;
}
.img_box-about_us > img {
  width: 100%;
  height: 30%;
  border-radius: 6px;
}
.text_block {
  color: #fff;
  font-family: "Alegreya Sans";
  width: 33%;
  line-height: 1.5;
}
.text_block div:first-child {
  font-size: 36pt;
}
.bgc-og_block-about_us {
  padding: 30px 0;
}
.og_block-about_us {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.og_block-about_us > .text_block {
  color: #455a64b5;
}
